In [1]:
import pandas as pd
import pulp
from itertools import product
import numpy as np

In [2]:
# importo il dataframe
df  = pd.read_excel("Source.xlsx")
df.head()

df.drop(df[df['Gruppo'] == 'MST'].index, inplace=True)

In [57]:
# creo un dataframe per dare corrispondenza codice-denominazione
#df.set_index('Codice')

code_name = df.set_index('Codice')
code_name.drop(columns=['Sem','CFU','Gruppo','Gruppo_id','Rating'],inplace=True)
#code_name.loc[56955]['Denominazione']
code_name = code_name[~code_name.index.duplicated(keep='last')] # specificare quale tenere perché potrebbero a priori avere "Denominazione" diversa, ma non in questo caso perché uguale codice => uguale nome
code_name = code_name.to_dict()['Denominazione']
code_name

{51132: 'DESIGN AND ANALYSIS OF EXPERIMENTS B',
 51197: 'ROBUST CONTROL',
 51676: 'MECCANICA COMPUTAZIONALE PER I GEOMATERIALI',
 52030: 'COMPUTATIONAL FLUID DYNAMICS [C.I.]',
 52354: 'DATA DRIVEN CONTROL SYSTEM DESIGN',
 52397: 'ENERGY AND CLIMATE CHANGE MODELING AND SCENARIOS',
 52470: 'QUANTUM COMMUNICATIONS',
 52497: 'NUMERICAL ANALYSIS FOR PARTIAL DIFFERENTIAL EQUATIONS',
 52498: 'APPLIED STATISTICS',
 52502: 'BAYESIAN STATISTICS',
 52503: 'GAME THEORY',
 52504: 'ADVANCED NUMERICAL METHODS FOR COUPLED PROBLEMS WITH APPLICATION TO LIVING SYSTEMS',
 52505: 'FINANCIAL ENGINEERING',
 52506: 'INSURANCE & ECONOMETRICS',
 52533: 'MIDDLEWARE TECHNOLOGIES FOR DISTRIBUTED SYSTEMS',
 52582: 'COMMUNICATION AND ARGUMENTATION',
 52585: 'PERSONALITÀ, TEAM BUILDING, LEADERSHIP',
 52742: 'APPLIED STATISTICS',
 52770: 'COMMUNICATION AND ARGUMENTATION',
 52771: 'PERSONALITÀ, TEAM BUILDING, LEADERSHIP',
 53312: 'PHILOSOPHY OF SCIENCE AND TECHNOLOGY',
 53558: 'LEARNING SPARSE REPRESENTATIONS FOR IMAGE AND SIGNAL MODELING',
 54073: 'ADVANCED PROGRAMMING FOR SCIENTIFIC COMPUTING',
 54074: 'STOCHASTIC DYNAMICAL MODELS',
 54085: 'BIOCHIP',
 54248: 'RELIABILITY ENGINEERING AND QUANTITATIVE RISK ANALYSIS A+B',
 54307: 'ARTIFICIAL NEURAL NETWORKS AND DEEP LEARNING',
 54309: 'LOCALIZATION, NAVIGATION AND SMART MOBILITY',
 54357: 'MOLECULAR MODELING OF MATERIALS',
 54383: 'ADVANCED PROGRAMMING FOR SCIENTIFIC COMPUTING',
 55514: 'HIGH-TECH ENTREPRENEURSHIP',
 55643: 'FINTECH',
 55645: 'FINANCIAL MARKETS AND INSTITUTIONS',
 55692: 'LOW FREQUENCY COMPUTATIONAL ELECTROMAGNETICS',
 55694: 'NUMERICAL ANALYSIS FOR MACHINE LEARNING',
 55697: 'NUMERICAL ANALYSIS FOR MACHINE LEARNING',
 55700: 'COMPUTATIONAL STATISTICS',
 55701: 'COMPUTATIONAL STATISTICS',
 55702: 'NONPARAMETRIC STATISTICS',
 55703: 'NONPARAMETRIC STATISTICS',
 55704: 'DETERMINISTIC AND STOCHASTIC OPTIMAL CONTROL THEORY',
 55727: 'COMPUTATIONAL TECHNIQUES FOR MOLECULAR MODELING',
 55728: 'CONTINUOUS DYNAMICAL SYSTEMS',
 55747: 'COMPUTATIONAL FLUID DYNAMICS',
 55757: 'INSURANCE & ECONOMETRICS',
 55806: 'CRITICAL THINKING',
 55807: 'EMERGING TECHNOLOGIES AND SOCIETAL CHALLENGES',
 55808: 'EMERGING TECHNOLOGIES AND SOCIETAL CHALLENGES',
 55809: 'CRITICAL THINKING',
 56048: 'PHILOSOPHY OF SCIENCE AND TECHNOLOGY',
 56329: 'CREATIVE CODING',
 56623: 'ARCHEOASTRONOMIA',
 56807: 'AUTOMATION AND CONTROL IN AUTONOMOUS VEHICLES',
 56827: 'BIOMEDICAL TECHNOLOGIES: PHILOSOPHICAL AND ETHICAL ISSUES',
 56828: 'BIOMEDICAL TECHNOLOGIES: PHILOSOPHICAL AND ETHICAL ISSUES',
 56867: 'STATISTICAL LEARNING FOR HEALTHCARE DATA',
 56892: 'DATA MINING',
 56894: 'ONLINE LEARNING APPLICATIONS',
 56895: 'STREAMING DATA ANALYTICS',
 56935: 'MATHEMATICAL MODELS AND METHODS FOR IMAGE PROCESSING',
 56936: 'SCIENTIFIC COMPUTING TOOLS FOR ADVANCED MATHEMATICAL MODELLING',
 56955: 'APPLIED AI IN BIOMEDICINE',
 56981: 'ALGORITHMIC GAME THEORY',
 57000: 'FLUIDS LABS',
 57266: 'REACTION-DIFFUSION EQUATIONS',
 85930: 'ELETTRONICA',
 88933: 'FISICA QUANTISTICA',
 89195: 'DINAMICA DEI SISTEMI COMPLESSI',
 89318: 'HYPERMEDIA APPLICATIONS (WEB AND MULTIMEDIA)',
 92847: 'FRACTURE MECHANICS',
 92848: 'ADVANCED COMPUTATIONAL MECHANICS',
 93153: 'GEOMETRIA DIFFERENZIALE',
 93267: 'DIGITAL SIGNAL PROCESSING',
 93269: 'DISCRETE MATHEMATICS',
 93283: 'FONDAMENTI DI ELABORAZIONE NUMERICA DEI SEGNALI',
 95862: 'ENGINEERING SEISMOLOGY',
 95963: 'ADVANCED PARTIAL DIFFERENTIAL EQUATIONS',
 95972: 'OPTIMIZATION',
 95975: 'STOCHASTIC DIFFERENTIAL EQUATIONS',
 95978: 'AUDIO AND VIDEO SIGNALS',
 95980: 'MATHEMATICAL FINANCE II',
 95981: 'MATHEMATICAL FINANCE II',
 96053: 'BIOENGINEERING OF NEUROSENSORY SYSTEMS',
 96055: 'BIOENGINEERING OF PHYSIOLOGICAL CONTROL SYSTEMS',
 96297: 'MODEL IDENTIFICATION AND DATA ANALYSIS',
 96659: 'COMPUTATIONAL MODELING IN ELECTRONICS AND BIOMATHEMATICS',
 97454: 'COMPUTER VISION AND REVERSE ENGINEERING',
 97469: 'NONLINEAR CONTROL',
 97482: 'DESIGN AND ANALYSIS OF EXPERIMENTS A',
 97502: 'MECHANICAL SYSTEMS RELIABILITY',
 97575: 'TERMODINAMICA E PROCESSI ENERGETICI',
 97660: 'METHODS AND MODELS FOR STATISTICAL MECHANICS',
 97661: 'BIOMATHEMATICAL MODELING',
 97667: 'COMPUTATIONAL FINANCE',
 97670: 'PLASMA PHYSICS',
 97673: 'CALCULUS OF VARIATIONS',
 97683: 'MACHINE LEARNING',
 97725: 'MATHEMATICAL AND PHYSICAL MODELING IN ENGINEERING [C.I.]',
 98513: 'GROUNDWATER HYDRAULICS',
 98637: 'GEOPHYSICAL DATA PROCESSING',
 99277: 'COMPUTATIONAL BIOLOGY OF THE HEART'}

In [4]:
# creo un df in cui sparisce la denominazione e tengo codice, sem, cfu, rating, e i gruppi vanno in una lista
# in questo modo scompaiono anche tutte le righe senza rating (giusto: non le vogliamo)
df2 = pd.DataFrame(df.groupby(['Codice','Sem','CFU','Rating'])['Gruppo'].apply(list))
df2.reset_index(inplace=True)
df2.head()

   Codice  Sem  CFU  Rating             Gruppo
0   52503    1    8     5.0        [MTM, FREE]
1   52505    2    8     2.0        [MTM, FREE]
2   54073    2   10     5.0        [CSCL, MTM]
3   54307    1    5     5.0  [STAT, ING, FREE]
4   54383    2    8     5.0             [FREE]

In [5]:
# TODO bisognerebbe creare un df da esportare con già i raggruppamenti

In [6]:
dfexplode = df2.explode('Gruppo')
dfexplode.head()

   Codice  Sem  CFU  Rating Gruppo
0   52503    1    8     5.0    MTM
0   52503    1    8     5.0   FREE
1   52505    2    8     2.0    MTM
1   52505    2    8     2.0   FREE
2   54073    2   10     5.0   CSCL

In [7]:
#dfcrosstab = pd.crosstab(dfexplode['Codice'], dfexplode['Gruppo']).ne(0).reset_index()
dfcrosstab = pd.crosstab(dfexplode['Codice'], dfexplode['Gruppo'])

dfcrosstab.loc[52503]['FREE']
dfcrosstab.head()

Gruppo  CSCL  FREE  ING  MTM  STAT
Codice
52503      0     1    0    1     0
52505      0     1    0    1     0
54073      1     0    0    1     0
54307      0     1    1    0     1
54383      0     1    0    0     0

In [8]:
dict_base = df2.to_dict()
dict_base

{'Codice': {0: 52503,
  1: 52505,
  2: 54073,
  3: 54307,
  4: 54383,
  5: 55643,
  6: 55694,
  7: 55697,
  8: 55700,
  9: 55701,
  10: 55702,
  11: 55703,
  12: 55757,
  13: 56623,
  14: 56892,
  15: 56894,
  16: 56895,
  17: 56981,
  18: 89195,
  19: 89318,
  20: 93269,
  21: 95972,
  22: 95975,
  23: 95980,
  24: 95981,
  25: 97667,
  26: 97683},
 'Sem': {0: 1,
  1: 2,
  2: 2,
  3: 1,
  4: 2,
  5: 2,
  6: 1,
  7: 1,
  8: 1,
  9: 1,
  10: 1,
  11: 1,
  12: 2,
  13: 1,
  14: 1,
  15: 2,
  16: 1,
  17: 2,
  18: 1,
  19: 2,
  20: 1,
  21: 2,
  22: 1,
  23: 1,
  24: 1,
  25: 1,
  26: 2},
 'CFU': {0: 8,
  1: 8,
  2: 10,
  3: 5,
  4: 8,
  5: 8,
  6: 8,
  7: 10,
  8: 8,
  9: 5,
  10: 8,
  11: 5,
  12: 8,
  13: 4,
  14: 5,
  15: 5,
  16: 5,
  17: 6,
  18: 10,
  19: 5,
  20: 5,
  21: 8,
  22: 8,
  23: 8,
  24: 10,
  25: 8,
  26: 5},
 'Rating': {0: 5.0,
  1: 2.0,
  2: 5.0,
  3: 5.0,
  4: 5.0,
  5: 2.0,
  6: 4.0,
  7: 4.0,
  8: 3.0,
  9: 4.0,
  10: 4.0,
  11: 4.0,
  12: 1.0,
  13: 2.0,
  14: 3.0,
  15: 5.0,
  16: 3.0,
  17: 4.0,
  18: 2.0,
  19: 2.0,
  20: 1.0,
  21: 4.0,
  22: 2.0,
  23: 4.0,
  24: 4.0,
  25: 3.0,
  26: 5.0},
 'Gruppo': {0: ['MTM', 'FREE'],
  1: ['MTM', 'FREE'],
  2: ['CSCL', 'MTM'],
  3: ['STAT', 'ING', 'FREE'],
  4: ['FREE'],
  5: ['MTM', 'FREE'],
  6: ['MTM', 'FREE'],
  7: ['MTM', 'FREE'],
  8: ['MTM', 'FREE'],
  9: ['STAT'],
  10: ['MTM', 'FREE'],
  11: ['STAT'],
  12: ['MTM', 'FREE'],
  13: ['FREE'],
  14: ['STAT', 'ING', 'FREE'],
  15: ['ING', 'FREE'],
  16: ['STAT', 'ING', 'FREE'],
  17: ['FREE'],
  18: ['ING', 'FREE'],
  19: ['STAT', 'ING', 'FREE'],
  20: ['MTM', 'FREE'],
  21: ['MTM', 'FREE'],
  22: ['MTM'],
  23: ['FREE'],
  24: ['MTM'],
  25: ['MTM', 'FREE'],
  26: ['STAT', 'ING']}}

In [9]:
# GENERAZIONE DIZIONARI PARAMETRI
#names = dict_base['Denominazione']
codes = dict_base['Codice']  # solo per output
semester = dict_base['Sem']
cfus = dict_base['CFU']
group_full = dict_base['Gruppo']
#group_dic = dict_base['Gruppo_id']
rating = dict_base['Rating']
min_cfus = [10, 16, 10, 16, 0, 0] # TODO È FISSO :(

group_full

{0: ['MTM', 'FREE'],
 1: ['MTM', 'FREE'],
 2: ['CSCL', 'MTM'],
 3: ['STAT', 'ING', 'FREE'],
 4: ['FREE'],
 5: ['MTM', 'FREE'],
 6: ['MTM', 'FREE'],
 7: ['MTM', 'FREE'],
 8: ['MTM', 'FREE'],
 9: ['STAT'],
 10: ['MTM', 'FREE'],
 11: ['STAT'],
 12: ['MTM', 'FREE'],
 13: ['FREE'],
 14: ['STAT', 'ING', 'FREE'],
 15: ['ING', 'FREE'],
 16: ['STAT', 'ING', 'FREE'],
 17: ['FREE'],
 18: ['ING', 'FREE'],
 19: ['STAT', 'ING', 'FREE'],
 20: ['MTM', 'FREE'],
 21: ['MTM', 'FREE'],
 22: ['MTM'],
 23: ['FREE'],
 24: ['MTM'],
 25: ['MTM', 'FREE'],
 26: ['STAT', 'ING']}

In [10]:
# INSIEMI
# TODO far sì che queste cose siano dinamiche in base al source
COURSES = list(codes.keys())
YEARS = [1, 2]


GROUPS_names = df['Gruppo'].unique()
GROUPS = np.arange(len(GROUPS_names))
GROUPS

array([0, 1, 2, 3, 4])

In [103]:
# PARAMETRI
# combos = [(i, j) for i in COURSES for j in YEARS]
# combos = product(COURSES, YEARS, GROUPS)

# PROBLEMA
prob = pulp.LpProblem('Piano_di_studi', pulp.const.LpMaximize)
x = pulp.LpVariable.dicts('corso-anno-gruppo', (COURSES, YEARS, GROUPS), lowBound=0, upBound=1, cat='Continuous')  # creazione variabili
y = pulp.LpVariable.dicts('corso',             (COURSES),                lowBound=0, upBound=1, cat='Binary')  # 1 se corso i è scelto
#z = pulp.LpVariable.dicts('corso-anno',        (COURSES, YEARS),         lowBound=0, upBound=1, cat='Binary')  # 1 se corso i all'anno j

In [104]:
# FUNZIONE OBIETTIVO
prob += pulp.lpSum([rating[i]*cfus[i]*x[i][j][k] for (i, j, k) in product(COURSES, YEARS, GROUPS)])

In [105]:
CFU_max_sem=30
CFU_max_tot=60 # il max di quelli a scelta (obbligatori sono 68)

In [106]:
# VINCOLI

# vincolo logico di bigM

# se un corso è scelto allora z_ij = 1
#for (i,j) in product(COURSES,YEARS):
#    prob += pulp.lpSum([x[i][j][k] for k in GROUPS]) <= 4000 * z[i][j]

# non posso scegliere un corso in più anni (cioè mettere GAT metà al primo e metà al secondo annno per es.)
#for i in COURSES:
#    prob += pulp.lpSum([z[i][j] for j in YEARS]) <= 1

# se un corso è scelto allora y[i]=1
for i in COURSES:
    prob += pulp.lpSum([x[i][j][k] for (j, k) in product(YEARS, GROUPS)]) <= 1000 * y[i]

# y[i]=1 allora tutti quanti sopra tutti i gruppi devono sommare a 1 (circa)
for i in COURSES:
    prob += y[i] <= pulp.lpSum([x[i][j][k] for (j, k) in product(YEARS, GROUPS)]) - 0.001

# corso scelto al massimo una sola volta
#for i in COURSES:
#    prob += pulp.lpSum([x[i][j][k] for (j, k) in product(YEARS, GROUPS)]) <= 1, (f"Corso {i} scelto una sola volta")

In [107]:
# max cfu per semestre per anno
#for j in YEARS:
#    group_courses=[i for i in COURSES if semester[i] == 1]
#    prob += pulp.lpSum(
#        [cfus[i]*x[i][j][k] for (i,k) in product(COURSES,GROUPS)]) <= CFU_max_sem, ("Max cfu sem 1 anno " + str(j))
#
#    group_courses=[i for i in COURSES if semester[i] == 2]
#    prob += pulp.lpSum(
#        [cfus[i]*x[i][j][k] for (i,k) in product(COURSES,GROUPS)]) <= CFU_max_sem, ("Max cfu sem 2 anno " + str(j))

# min cfu gruppo
for k in GROUPS:
    prob += pulp.lpSum([cfus[i]*x[i][j][k] for (i,j) in product(COURSES,YEARS)]) == min_cfus[k], (f"Min cfu gruppo {k}")  # >=

# max cfu totali
prob += pulp.lpSum([cfus[i]*y[i] for i in COURSES]) <= CFU_max_tot, "Max cfu totali"

In [108]:
# dfcrosstab.loc[52503]['FREE']
# dfcrosstab.loc[codes[...]][GROUPS_names[...]]


# posso dare peso a un corso in un gruppo solo è consentito
for (i,k) in product(COURSES,GROUPS):
    prob += pulp.lpSum([x[i][j][k] for j in YEARS]) <= dfcrosstab.loc[codes[i]][GROUPS_names[k]]

In [109]:
# RISOLUZIONE
status = prob.solve()

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/teo/Documents/GitHub/compilatore-piano-di-studi/venv/lib/python3.9/site-packages/pulp/apis/../solverdir/cbc/osx/64/cbc /var/folders/1n/5l6269bd647d957r5df7_hj80000gn/T/66de9eddacf7444d9425d37d8ca65398-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/1n/5l6269bd647d957r5df7_hj80000gn/T/66de9eddacf7444d9425d37d8ca65398-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 200 COLUMNS
At line 1686 RHS
At line 1882 BOUNDS
At line 2180 ENDATA
Problem MODEL has 195 rows, 297 columns and 1161 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 259.699 - 0.00 seconds
Cgl0000I Cut generators found to be infeasible! (or unbounded)
Pre-processing says infeasible or unbounded
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.01

In [110]:
pulp.LpStatus[status]

'Infeasible'

In [115]:
# output
# ne servono 2
# - SOMMARIO, quello che uno ha bisogno di sapere, con le variabili z, quale corso in quale anno
# - DETTAGLI, quello da dare a Gregoratti, quale percentuale di quale corso in quale gruppo, con le x

corsi=[]
for (i,j,k) in product(COURSES, YEARS, GROUPS):
    val = x[i][j][k].varValue
    if val > 0:
        #codice = codes[i]
        #gruppo = GROUPS_names[k]
        #anno = YEARS[j-1]
        #string = f'{val*100:3.0f}% del corso: {codice}\t\tnel gruppo {gruppo}\t\tnell\'anno {anno}'
        #print(string)
                           
        course_name=code_name[codes[i]]
        semester_name=semester[i]
        cfus_name=cfus[i]
        codes_name=codes[i]
        group_name=GROUPS_names[k]
        year_name = YEARS[j-1]
        percentage = val
        el=[codes_name, course_name, cfus_name, group_name, year_name, semester_name]
        corsi.append(el)
        print(f"{course_name} all'anno {year_name} al semestre {semester_name}")

piano=pd.DataFrame(corsi, columns=['Codice', 'Denominazione', 'CFU', 'Gruppo', 'Anno', 'Sem'])
piano=piano.set_index('Codice')
piano=piano.sort_values(['Anno', 'Sem'], ascending=[True, True])

piano

GAME THEORY all'anno 1 al semestre 1
GAME THEORY all'anno 2 al semestre 1
FINANCIAL ENGINEERING all'anno 2 al semestre 2
ADVANCED PROGRAMMING FOR SCIENTIFIC COMPUTING all'anno 2 al semestre 2
ARTIFICIAL NEURAL NETWORKS AND DEEP LEARNING all'anno 1 al semestre 1
ARTIFICIAL NEURAL NETWORKS AND DEEP LEARNING all'anno 1 al semestre 1
ARTIFICIAL NEURAL NETWORKS AND DEEP LEARNING all'anno 1 al semestre 1
ADVANCED PROGRAMMING FOR SCIENTIFIC COMPUTING all'anno 1 al semestre 2
FINTECH all'anno 1 al semestre 2
NUMERICAL ANALYSIS FOR MACHINE LEARNING all'anno 2 al semestre 1
NUMERICAL ANALYSIS FOR MACHINE LEARNING all'anno 1 al semestre 1
COMPUTATIONAL STATISTICS all'anno 1 al semestre 1
COMPUTATIONAL STATISTICS all'anno 2 al semestre 1
NONPARAMETRIC STATISTICS all'anno 1 al semestre 1
NONPARAMETRIC STATISTICS all'anno 1 al semestre 1
INSURANCE & ECONOMETRICS all'anno 2 al semestre 2
ARCHEOASTRONOMIA all'anno 1 al semestre 1
DATA MINING all'anno 2 al semestre 1
ONLINE LEARNING APPLICATIONS all'anno 1 al semestre 2
ONLINE LEARNING APPLICATIONS all'anno 2 al semestre 2
STREAMING DATA ANALYTICS all'anno 2 al semestre 1
ALGORITHMIC GAME THEORY all'anno 1 al semestre 2
DINAMICA DEI SISTEMI COMPLESSI all'anno 2 al semestre 1
HYPERMEDIA APPLICATIONS (WEB AND MULTIMEDIA) all'anno 1 al semestre 2
DISCRETE MATHEMATICS all'anno 1 al semestre 1
OPTIMIZATION all'anno 2 al semestre 2
STOCHASTIC DIFFERENTIAL EQUATIONS all'anno 2 al semestre 1
MATHEMATICAL FINANCE II all'anno 1 al semestre 1
MATHEMATICAL FINANCE II all'anno 2 al semestre 1
COMPUTATIONAL FINANCE all'anno 2 al semestre 1
MACHINE LEARNING all'anno 2 al semestre 2

                                        Denominazione  CFU Gruppo  Anno  Sem
Codice
52503                                     GAME THEORY    8   FREE     1    1
54307    ARTIFICIAL NEURAL NETWORKS AND DEEP LEARNING    5   STAT     1    1
54307    ARTIFICIAL NEURAL NETWORKS AND DEEP LEARNING    5   FREE     1    1
54307    ARTIFICIAL NEURAL NETWORKS AND DEEP LEARNING    5    ING     1    1
55697         NUMERICAL ANALYSIS FOR MACHINE LEARNING   10   FREE     1    1
55700                        COMPUTATIONAL STATISTICS    8    MTM     1    1
55702                        NONPARAMETRIC STATISTICS    8    MTM     1    1
55703                        NONPARAMETRIC STATISTICS    5   STAT     1    1
56623                                ARCHEOASTRONOMIA    4   FREE     1    1
93269                            DISCRETE MATHEMATICS    5   FREE     1    1
95980                         MATHEMATICAL FINANCE II    8   FREE     1    1
54383   ADVANCED PROGRAMMING FOR SCIENTIFIC COMPUTING    8   FREE     1    2
55643                                         FINTECH    8    MTM     1    2
56894                    ONLINE LEARNING APPLICATIONS    5    ING     1    2
56981                         ALGORITHMIC GAME THEORY    6   FREE     1    2
89318    HYPERMEDIA APPLICATIONS (WEB AND MULTIMEDIA)    5   FREE     1    2
52503                                     GAME THEORY    8    MTM     2    1
55694         NUMERICAL ANALYSIS FOR MACHINE LEARNING    8    MTM     2    1
55701                        COMPUTATIONAL STATISTICS    5   STAT     2    1
56892                                     DATA MINING    5   FREE     2    1
56895                        STREAMING DATA ANALYTICS    5   FREE     2    1
89195                  DINAMICA DEI SISTEMI COMPLESSI   10    ING     2    1
95975               STOCHASTIC DIFFERENTIAL EQUATIONS    8    MTM     2    1
95981                         MATHEMATICAL FINANCE II   10    MTM     2    1
97667                           COMPUTATIONAL FINANCE    8    MTM     2    1
52505                           FINANCIAL ENGINEERING    8    MTM     2    2
54073   ADVANCED PROGRAMMING FOR SCIENTIFIC COMPUTING   10    MTM     2    2
55757                        INSURANCE & ECONOMETRICS    8   FREE     2    2
56894                    ONLINE LEARNING APPLICATIONS    5   FREE     2    2
95972                                    OPTIMIZATION    8    MTM     2    2
97683                                MACHINE LEARNING    5   STAT     2    2